.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #0a1f49;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.bigger-button {
  font-size: 20px;
  padding: 10px 20px;
  background-color: #7d15df;
  border: none;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.left-column {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 150px;
  background-color: rgb(150, 150, 150);
}

.right-column {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 150px;
  background-color: rgb(150, 150, 150);
}
